!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/javascripts/base.css')
    script(src='http://platform.twitter.com/anywhere.js?id=jIcngYU3uLX6qRjWB2amQ&v=1')
  body!= body